name: Build

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - main

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - uses: ./.github/actions/pnpm

      - name: Build
        run: pnpm run build
