name: Code generation

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize]
    paths:
      - 'pnpm-lock.yaml'
      - 'scripts/**'
      - '.github/workflows/generate.yml'
  push:
    branches:
      - main
    paths:
      - 'pnpm-lock.yaml'
      - 'scripts/**'
      - '.github/workflows/generate.yml'

permissions: {}

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: ./.github/actions/pnpm

      - name: Remove current generated code
        run: rm -r ./src/generated/ && rm -r ./scripts/generated/

      - name: Generate from source code
        run: pnpm run generate

      - name: Check for git diff
        run: git diff --exit-code
